button[type=button] {
  color: #fff;
  background: #23272a;

  border: 0;
  border-radius: 0.15rem;

  padding: 1rem 2rem;

  font-family: inherit;
  font-size: 0.8em;
  font-weight: bold;

  transition: all 150ms;
}

button[type=button]:hover {
  cursor: pointer;
  transform: translateY(-0.15em);
}

button[type=button]:active {
  background: #1e2224;
}
