/* sorry */

@font-face {
  font-family: Whitney;
  font-weight: bold;
  src: url(https://canary.discordapp.com/assets/be0060dafb7a0e31d2a1ca17c0708636.woff);
}

@font-face {
  font-family: Whitney;
  src: url(https://canary.discordapp.com/assets/3bdef1251a424500c1b3a78dea9b7e57.woff);
}
